<div id="errorMessage" class="bg-error-light flex items-center py-3 pl-4 pr-6 rounded-xl border-error-dark border-2 shadow-sm shadow-error-dark cursor-pointer absolute">
  <ion-icon class="w-8 h-8 text-error-dark mr-2" name="alert-circle-outline"></ion-icon>
  <h2 class="text-error-dark text-2xl"><%- message %></h2>
</div>

<!-- Toggle error box script -->
<script>
    const errorMessage = document.getElementById("errorMessage");
    errorMessage.addEventListener("click", () => {
        errorMessage.classList.toggle("hidden");
    });
</script>