<!-- 
    user object is passed

    <%# const values = Object.values(user); %>
    <%# values.forEach(val => { %>
            <%#- val %>
    <%# }); %>
 -->

<div class="h-2/5 w-1/4 min-w-fit bg-theme-main-dark rounded-2xl flex flex-col items-center">
    <h1>
        2FA
        <br>
        Authentication Code
    </h1>
</div>