<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>BLBS: Login</title>
</head>
<body 
    style="background-image: url('/images/mountains.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;"
    class="flex items-center justify-center h-screen w-full"  
>

    <!-- Auth Menu: Send user object from session -->
    <%- include("partials/authMenu", { user }) %>

    <!-- Icon imports -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>