<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>BLBS: Settings</title>
</head>
<body>
    <!-- Body -->
    <div class="h-screen w-screen bg-theme-main-light">
        <!-- Sidebar -->
        <%- include("partials/sidebar", { user }) %>
        
        <!-- Nav -->
        <%- include("partials/nav", { user }) %>
        
        <!-- Handle error messages -->
        <% if (typeof message !== "undefined") { %>
            <%- include("partials/errorMessage", { message }) %>
        <% } %>

        <!-- Main Page -->
        <div class="w-11/12 h-full ml-auto pt-16">

            
            <!-- Account Settings -->
            <div class="w-full h-fit px-20 py-10">
                <h1 class="text-4xl font-semibold px-8 py-4"> Account Settings </h1>
                
                <form
                    action="/dash/settings/changeUsername"
                    method="POST"
                    class="w-5/12 min-w-min"    
                >
                    <fieldset class="w-full border-2 border-black p-4 text-xl flex flex-col">
                        <div class="py-2 flex justify-between items-center text-2xl">
                            <p class="font-semibold"> Username: </p>
                            <p class="hover:underline hover:text-blue-700 underline-offset-2"> <%- user.username %> </p>
                        </div>
                        
                        <div class="py-4 flex justify-between items-center">
                            <label for="currentUsername"> Enter current username: </label>                        
                            <input 
                                type="text" 
                                name="currentUsername" 
                                id="currentUsername"
                                class="outline-none px-1"
                            />
                        </div>

                        <div class="py-4 flex justify-between items-center">
                            <label for="newUsername"> Enter new username: </label>
                            <input 
                                type="text" 
                                name="newUsername" 
                                id="newUsername"
                                class="outline-none px-1"
                            />
                        </div>

                        <div class="py-2 flex justify-start items-center">
                            <button 
                                type="submit"
                                class="py-2 px-6 bg-blue-500 rounded-lg font-bold text-gray-300 hover:bg-blue-600 transition-all"
                            > 
                                Update Account
                            </button>
                        </div>
                    </fieldset>
                </form>



            </div>

        </div>
    
    </div>


    <!-- Icon imports -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</body>
</html>